:root {
  --main-font: "Silkscreen", cursive;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Fauna One", serif;
  --primary-color: #b4c7b0;
  --buttons: 1px solid black;
  --color-one: #edeae5;
  --color-two: #ded2c4;
  --color-three: #cec2b4;
  --color-four: #d3d4c7;
  --color-five: #7c756b;
}

body {
  background: var(--color-four);
  margin: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background: #d3d4c7;
  margin-top: 50px;
}

.navbar {
  color: var(--color-four);
  border: 1px solid #bdbdb4;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  padding: 100px 120px;
  background-color: var(--color-four);
}


.hero p {
  font-size: 20px;
  font-weight: light;
  margin: 0;
}

.hero h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  line-height: 2;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: "Special Elite", cursive;
  margin-bottom: 20px;
  margin-top: 10px;
  animation: normal;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}


.hero h1 {
  letter-spacing: 10px;
  font-size: 100px;
}

.about-section {
  padding: 50px;
  text-align: center;
}

h1 {
  color: #000000;
  margin: 0;
  font-size: 96px;
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h2 {
  font-family: var(--secondary-font);
}

h3 {
  font-size: 20px;
  font-family: var(--secondary-font);
  text-align: center;
}

h4 {
  font-size: 15px;
  font-family: var(--secondary-font);
  margin-bottom: 0;
}

p {
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--secondary-font);
}

hr {
  width: 100%;
  margin: 0 auto;
}

footer {
  padding: 0px;
  background-color: var(--color-four);
  margin-top: auto;
}

.footer-text {
  padding: 30px 20px;
  margin-top: 20px;
  font-size: 25px;
}

.footer-col {
  padding: 0!important;
}

#footer-container {
  padding: 0;
}

.col-6 {
  width: 50%;
  padding: 20px;
  margin: 0;
}

.social-icons {
  font-size: 30px;
  text-align: right !important;
  padding: 40px 30px;
  letter-spacing: 20px;
}

.social-icons:hover {
  letter-spacing: 20px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: var(--color-five);
  font-weight: bold;
  letter-spacing: 2px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.weather-app,
.sef-care-app {
  width: 100%;
}

.img-fluid {
  max-width: 70%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 40px;
}

.profile-pic {
  max-width: 100%;
  width: 300px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}

#contact {
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 20px;
  margin-top: 4px;
  margin-bottom: 100px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  margin-top: 40px;
  font-family: var(--secondary-font);
}

.email-link:hover {
  text-decoration: none;
  color: var(--color-five);
  font-family: var(--secondary-font);
}

.fa-envelope {
  margin-right: 10px;
  margin-top: 5px;
  color: var(--color-five);
}

.btn-branding {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.info-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  margin-left: 0;
  border: var(--buttons);
}

.info-link:hover {
  background: var(--color-five);
  opacity: 0.8;
  box-shadow: var(--box-shadow);
  color: rgb(255, 255, 255);
  border: none;
}

.contact-me-btn,
.my-work-btn {
  border: var(--buttons);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contact-me-btn:hover,
.my-work-btn:hover {
  background: var(--color-five);
  opacity: 0.8;
  color: white;
}

.weather-paragraph,
.self-care-paragraph {
  margin-top: 40px;
}

.weather-paragraph {
  text-align: right;
}

.search-btn {
  border: 1px solid black;
}

#weather-btn {
  text-align: right !important;
}

@media (max-width: 575px) {
  .hero h1 {
    font-size: 40px;
    text-align: center;
  }
  
  p {
    text-align: center;
  }

  #contact,
  .email-link {
    font-size: 20px;
  }

  .img-fluid {
    padding: 20px;
  }

  h1,
  h2,
  h3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }

  .weather-paragraph,
  .self-care-paragraph {
    margin: 40px;
    text-align: center;
  }

  .weather-app {
    text-align: center;
    margin-bottom: 20px;
  }

  .open-projects-btn {
    text-align: center;
  }

  #weather-btn {
    text-align: center !important;
  }

  #contact-details,
  .email-link {
    font-size: 20px;
    text-align: center;
  }

  #contact-details {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .footer-text,
  .social-icons {
    font-size: 15px;
  }

  .contact-me-btn,
.my-work-btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
}
