:root {
  --main-font: "Silkscreen", cursive;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Fauna One", serif;
  --primary-color: #b4c7b0;
  --buttons: 1px solid black;
  --color-one: #DBD6D2;
  --color-two: #DBD2D8;
  --color-three: #c6c7c3;
  --color-four: #5416a5;
  --color-five: #A28899;
  --color-six: #C827BB;
  --color-seven: #ffffff;
}

section, .hero-content {
  margin: 50px 150px!important;
}

body {
  background: var(--color-seven);
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background: var(--color-seven);
  margin-top: 70px 70px 70px 70px!important;
}

.container, h2 {
  text-transform: capitalize;
}

.navbar {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  color: var(--color-four);
  border: 1px solid white;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.hero {
  
  background-color: var(--color-two);
}

.hero p {
  font-size: 20px;
  font-weight: light;
  margin: 0;
}

.hero h1 {
  letter-spacing: 10px;
  font-size: 100px;
}

.about-section {
  padding: 50px 150px;
}

 #about-section {
  font-size: 60px;
}

.about-text {
  padding-top: 20px;
  text-align: left;
}

p, h1, h2, h3, h4 {
  text-transform:none;
}

h1 {
  color: #000000;
  margin: 0;
  font-size: 96px;
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h2 {
  font-family: var(--secondary-font);
  color: var(--color-five)
}

h3 {
  font-size: 20px;
  font-family: var(--secondary-font);
  text-align: center;
}

h4 {
  font-size: 24px;
  font-family: var(--secondary-font);
  margin-bottom: 0;
}

p {
  padding: 20px 20px 20px 0px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 2;
  font-family: var(--secondary-font);
}

hr {
  width: 100%;
  margin: 0 auto;
}

footer {
  position: relative;
  padding: 0px;
  background-color: var(--color-two);
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
}

#footer-text {
  font-size: 15px;
}

.footer-text {
  padding: 30px 40px;
  margin-top: 20px;
  font-size: 25px;
}

.footer-col {
  padding: 0 !important;
}

#footer-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 .copy-right-text {
    margin: 10px 0 0 0;
  }

.col-6 {
  width: 50%;
  padding: 20px;
  margin: 0;
}

.footer-social {
  padding: 30px 40px;
  margin-top: 20px;
}

.social-icons {
  font-size: 30px;
  text-align: center;
  letter-spacing: 10px;
}

.social-icons-footer {
  font-size: 30px;
  text-align: right !important;
  padding: 0px 0px;
  letter-spacing: 10px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: var(--color-three);
  font-weight: bold;
  letter-spacing: 2px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.about-row {
  margin: 50px 0 50px 0;
}

.weather-app,
.self-care-app {
  width: 400px;
}

img {
  max-width: 50%;
  height: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 60px;
}

img:hover {
  box-shadow: 0 20px rgb(0, 0, 0, 0.2);
  max-width: 450px;
}


.profile-pic {
  max-width: 100%;
  width: 300px;
  margin: 20px!important;
  border-radius: 50%!important;
}

#contact {
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 20px;
  margin-top: 4px;
  margin-bottom: 100px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  margin-top: 40px;
  font-family: var(--secondary-font);
}

.email-link:hover {
  text-decoration: none;
  color: var(--color-three);
  font-family: var(--secondary-font);
}

.fa-envelope {
  margin-right: 10px;
  margin-top: 5px;
  color: var(--color-five);
}


.info-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  font-family: var(--secondary-font);
  margin-left: 0;
  border: var(--buttons);
  box-shadow: 10px 10px var(--color-three);
}

.contact-me-btn:hover,
.my-work-btn:hover,
.info-link:hover {
  background-color: var(--color-three);
  box-shadow: none;
  border-radius: 4px;
  padding: 20px 15px;
  margin: 10px 10px 0px 0px;
  letter-spacing: 0;
  font-weight:bolder;
  color: white;
  border: none;
}

.open-projects-btn {
  padding: 0;
}

.contact-me-btn,
.my-work-btn,
.open-btn,
github.btn {
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}


.weather-paragraph,
.self-care-paragraph {
  margin-top: 40px;
}

.search-btn {
  border: 1px solid black;
}

.search-btn:hover {
  color: white;
  font-weight: bolder;
  background-color: var(--color-three);
  font-family: var(--secondary-font);
}

.dynamic-subheading {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 20px;
  text-align: left;
}

.dynamic-subheading:hover {
  letter-spacing: 20px;
  color: #000000;
  cursor: pointer;
  text-shadow: 2px 2px var(--color-three);
}

.technologies-used, ul {
  margin: 0px;
  padding-left: 0!important;
}

.technology {
  display: inline;
  background-color: var(--color-three);
  color: #ffffff;
  padding: 8px;
  margin: 5px;
  width: 100px;
}


.technologies-used, li {
  float: left;
  display: inline;
  text-align: center;
  padding: 24px;
  text-decoration: none;
}

.skills-list {
  padding: 0 10px 0 10px;
}

.skill {
  background-color: var(--color-three);
  color: #ffffff;
  padding: 8px;
  margin: 5px;
}

.skill-icon {
  size: 100px;
}

.container-icons {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 40px;
}

.box-icon {
  width: 30%;
    height: 142px;
    margin-bottom: 10px;
}

.devicon-vscode-plain, .devicon-git-plain, .fa-brands {
    font-size: 3.5rem;
}

.api-icon {
  width: 25%;
  margin: 0;
}


.hobbies-list, li {
  text-align: center;
}

.CV-link {
padding-top: 10px;
}

.CV {
  color: rgb(255, 106, 0);
}

.about-paragraph {
  padding-top: 20px;
  text-align: left;
}

section {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.home-about-p {
  display:inline-block;
}

@media (max-width: 575px) {
  section, .hero-content {
  margin: 20px 20px!important;
}
  .hero h1 {
    font-size: 10vw;
  }

  .hero h2 {
    font-size: 5vw;
  }

  .hero {
    padding: 20px;
  }

h3 {
  font-size: 5vw;
}

  h4 {
    font-size: 5vw;
  }

  p {
    text-align: center;
    font-size: 5vw;
  }

  #contact,
  .email-link {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }

img {
  margin-left: 0!important;
}

.img-fluid {
    padding: 0px;
    margin: 0 0 0 0!important;
}

#profile-img-col {
  width: 0;
}

.col-4 {
  width:fit-content
}

.hobbies-list {
  padding-top: 20px;
}

.who-is-cody {
  width: fit-content;
}

.skills-list {
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: fit-content
}

.skills {
  display: block;
  margin: 0 auto;
}

.contact-page-section {
  text-align: center;
}

#contact-page-socials {
  display: flex;
  justify-content: center;
  padding-right: 0;
}
h1,
  h2 {
    padding-top: 10px;
    text-align: center;
    font-size: 10vw;
}

  .weather-paragraph,
  .self-care-paragraph {
    margin: 40px;
    text-align: center;
  }

  .weather-app {
    text-align: center;
    margin-bottom: 20px;
  }

  .open-projects-btn {
    text-align: center;
  }

  #weather-btn {
    text-align: center !important;
  }

  #contact-details,
  .email-link {
    font-size: 20px;
    text-align: center;
  }

  #contact-details {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .social-icons {
    font-size: 5vw;
    padding: 0px 10px 10px 10px;
    text-align: left!important;
  }

  .footer-text {
    margin-top: 0;
  }

  .footer-text, p {
    margin-bottom: 0;
    padding: 10px 20px 10px 20px;
  }

  .footer-social {
    margin-top: 0;
    padding: 10px 10px 0 20px;
  }

  #footer-text {
    font-size: 5vw;
    padding-left: 0;
    padding-top: 0;
  }

 .social-icons, ul {
    padding-left: 0;
    margin-top: 5px;
  }

  .contact-me-btn,
  .my-work-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px!important;
  }

  .about-section {
    padding: 20px;
  }

  .about-paragraphs {
    padding: 20px;
    margin: 20px;
    text-align: left;
  }

  .about-text {
    padding: 20px;
  }

  .btn {
    padding: 5px;
    font-size: 5vw;
    display: block;
    margin: 0 auto;
  }

  .info-link {
    padding: 10px 10px;
  }
}
